@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bilijar klub GET</h1>
    <p class="lead">Bilijar klub GET je najveći i najbolje ocenjen klub u gradu.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Molimo Vas da se ulogujete kako biste izvršili rezervaciju.
        </p>
    </div>
</div>